extends layout

block content
	section#server.admin-section
		span(aria-hidden="true") Last login: <span class="login-date"></span> on ttys002
		.feedback

	section#mods.admin-section
		span(aria-hidden="true") Last login: <span class="login-date"></span> on ttys002
		.feedback