doctype html
html
	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width,initial-scale=1")
		link(rel='stylesheet', href='/css/main.css')
		title= title
	body
		h1#branding &nbsp;voidguard&nbsp;
		#wrapper
			nav#menu(role="navigation")
				span(aria-hidden="true") Last login: <span class="login-date"></span> on ttys002
				ul
					li
						a(href="#mods") Mods
					li
						a(href="#server") Server
				.feedback
				#menu-input.admin-input(contenteditable="true", tabindex="0")
				
			main
				block content

			script(src="/js/main.min.js")
